<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jx.edu.com.jiangxue">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <uses-permission android:name="android.webkit.permission.PLUGIN" />
    <uses-permission android:name="cn.swiftpass.wxpay.permission.MMOAUTH_CALLBACK" />
    <uses-permission android:name="cn.swiftpass.wxpay.permission.MM_MESSAGE" />
    <uses-permission android:name="xvtian.gai.receiver" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.robert.permission.READ_CONTENTPROVIDER" />
    <uses-permission android:name="com.robert.permission.WRITE_CONTENTPROVIDER" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:screenOrientation="portrait"
            android:fitsSystemWindows="true"
            android:name=".ui.activity.Login_PwdActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Slide"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.activity.MainActivity"
            android:fitsSystemWindows="true"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Slide"
            android:windowSoftInputMode="adjustPan|stateHidden" >

        </activity>

        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />

        <activity
            android:screenOrientation="portrait"
            android:name=".ui.activity.ReleaseActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Slide"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.activity.PayActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Slide"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Slide"
            android:screenOrientation="portrait"
            android:name=".ui.activity.PayOkActivity" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.activity.QuestionDetailsActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Slide" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.activity.AnswerActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Slide"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.activity.AlreadyAnsweredDetailsActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Slide"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.activity.CodeLoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Slide"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.activity.CountryActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Slide"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.activity.UpdatePwdActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Slide"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.activity.RegisterActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Slide"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:screenOrientation="portrait"
            android:fitsSystemWindows="true"
            android:name=".ui.activity.AgreementActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Slide"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
    </application>

</manifest>